.bodyAccueil {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  background-image: url('../image/fond.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .bodyAccueil {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    background-image: url('../image/fond.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.bodyAccueil .blockAccueil {
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  font-size: 1em;
  color: #fff;
  padding: 10px;
  background-color: #111;
  font-family: var(--police);
  letter-spacing: 10px;
  text-align: center;
  display: flex;
  opacity: 0.65;;
}