.bodyAccueil {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 60px);
  background-image: url('../image/fond.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}